*{
	margin: 0;
	padding:0;
}

/*star of header*/

.iconimage, nav{
	display: inline-block;
	color: #484848;
}

.iconimage{
	margin: 1em;
}



nav{
	text-align: right;
	margin: 1em;
	float: right;
}


a{
	padding: 1.2em;
	font-size: 14px;
	color: inherit;
	text-decoration: none;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
}	
/*end of header*/


/*star of body*/
/*
div{
	margin: 0 4%;
}*/


.titre{
	
	display: flex;
    justify-content: space-around;
    margin-top: 6em;
    padding-right: 20em;

}

h1{
	font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,sans-serif !important;
	font-size: 48px; 
	line-height: 56px; 
	letter-spacing: -0.8px; 
	padding-top: 8px; 
	padding-bottom: 8px; 
	color: #484848; 
	font-weight: 200;
	height :6em;
	
}

span{
	color: #FA556B;
	font-weight: bold;
}
/* star div voyage*/
.inputone{
	margin: 0 4%;
}


form{
	/*background-color: red;*/
	display: flex;
	justify-content:space-around;
	align-items: center;
	height: 4em;
}

label{
	color: #484848; 
}
/*end of div voyage*/

/*star of div photos*/
.voyage, .voyagearrive{
	border: 1px #e4e4e4 solid;
	width: 100%;
}

.voyage{
	height: 5em;
}


.voyagearrive{
	height: 4em;
	width: 95%;
}

.rechercher{
	height: 3em;
	width: 150px;
}

.test{
	display: flex;
	flex-direction: column;
	margin:40px;

}

.photos{
	padding: 4%;
	justify-content:space-between;
	display: flex;
	flex-direction: row;	
}

figure{
	padding: 1px;
	margin: 1px;
}
/*end of div photos*/

















/*.photo, .photo2, .photo3, .photo4, .photo5, .photo6, .photo7, .photo8
{
	height: 390px ;
	width:17em;
}*/

/*end of body*/